<html>
<head>
	<style>
	body {
	  background-image: url('../static/resources/background.png');
	  background-repeat: no-repeat;
	  background-attachment: fixed;
	  background-size: 100% 100%;
	}
	input[type=text] {
		width: 100%;
	  padding: 12px 20px;
	  margin: 8px 0;
	  box-sizing: border-box;
	  border: none;
	  border-bottom: 2px solid white;
		background: transparent
	}
	</style>
	<link rel="stylesheet" href="../static/css/button.css">
  <!--<link rel="stylesheet" href="../static/css/input-style.css">-->
<!-- IDEA:   <link rel="stylesheet" href="../static/css/dark-theme.css"> -->
	<meta charset="UTF-8">
<!--- <li class="w3-theme-d5"> -->
	<br><br><br><br><br><br>
	<center><h1>Interactive ML-Platform </h1></center>
  <br><br><br><br><br><br>


  <div class="page-header">
    <title>InteractiveML</title>
  </div>
</head>

<body>
  <div id="w3-container w3-orange">
    <form class="w3-container">
    <input class="input" type="text" id="project-name" name="project-name"><br>
    <label for="project-name">Project Name</label> <br><br>
    </form>
    <center><button class="button" type="submit" value="Submit" onclick='window.location.href="project/".concat(document.getElementById("project-name").value);'>Submit</button>
  </div>
  </body>
<!-- IDEA:</li>  -->
<html>
