<!DOCTYPE HTML>
<html>
	<head><title>Preprocess</title>
	<script>
		function dynamic() {
			var supervised_part = document.getElementById("supervised");
			supervised_part.style.visibility = "hidden";
			document.getElementById('alg').style.visibility = "hidden";
			document.getElementById('sub').style.visibility = "hidden";		
			if (document.getElementById('slearn').checked == true) {
				document.getElementById('alg').style.visibility = "visible";
				document.getElementById('supervised').style.visibility = "visible";
				document.getElementById('sub').style.visibility = "visible";
				var alg = document.getElementById('alg');
				alg[0].innerHTML = "Random Forest";
				alg[0].setAttribute('value','RF');
				if (!alg[1]) {
					var option = document.createElement('option');
					option.text = "Support Vector Machines";
					document.getElementById('alg').add(option);
					alg[1].setAttribute('value','SVM');
				}
			}
			if (document.getElementById('ulearn').checked == true) {
				document.getElementById('alg').style.visibility = "visible";
				document.getElementById('supervised').style.visibility = "hidden";
				document.getElementById('sub').style.visibility = "visible";
				var alg = document.getElementById('alg');
				alg[0].value="KM";
				alg[0].innerHTML="K Means Clustering";
				alg.remove(1);
			
			}
		}
		
		function execution() {
			setInterval(dynamic,1);
		}
	</script>
	</head>		
	<body onload="execution()">
		1. View uploaded Dataset {{path}} <br>
		2. Edit uploaded dataset <br>
		3. View column_names and their data types <br> {{column_names}} <br> {{data_types}} <br>
		4. Compulsory and Optional Checks in Preprocessing <br>
		5. Based on Learning type, display option to select target class <br>
		<form name="form1" method="post" action="http://localhost:5000/project/{{ proj_name }}/preprocess" enctype="multipart/form-data">
			<br><b>Select the type of learning algorithm</b><br>
			<input type="radio" name="Learn_Method" value="Supervised" id="slearn">Supervised</input><br>
			<input type="radio" name="Learn_Method" value="Unsupervised" id="ulearn">Unsupervised</input><br><br>
			<select name="Algorithm" id="alg">
				<option value="RF">Random Forest</option>
        			<option value="SVM">Support Vector Machine</option>
			</select><br><br>
			<div id="supervised">
				<b>Use the list below to select features. They will be preprocessed</b><br>
				{% for col in column_names %}
					<input type="checkbox" name="features" value="{{col}}">{{ col }}</input><br>
				{% endfor %}
				<br><b>Use the list below to select the target class for prediction</b><br>
				{% for col in column_names %}
					<input type="checkbox" name="target" value="{{col}}">{{col}}</input><br>
				{% endfor %}
			</div>
			<br><input type="submit" value="Submit" id="sub" />
		</form>
	</body>
</html>
