<html>
<head>
  <title>InteractiveML</title>
  <br><br><br><br><br><br><br><br><br>
  <center>INTERACTIVE ML PLATFORM</center>
  <br><br<center>
  <center> Project Name: {{project_name}} </center>
  <link rel="stylesheet" href="../static/css/button-all.css">
</head>

<body>
  1. View uploaded Dataset {{path}} <br><br>
  2. Edit uploaded dataset <br><br>
  3. View column_names and their data types <br> {{column_names}} <br> {{data_types}} <br><br>
  4. Compulsory and Optional Checks in Preprocessing <br><br>
  5. Based on Learning type, display option to select target class <br><br>

<!-- To be linked:  <button class="button" type="Next" name="Next" value="next" onclick="/viewprocessing">Next</button> -->
<!-- Link to view-dataset: <button class="button" name="view" value="view-dataset" onclick="/viewdataset"> View Dataset </button> -->
</body>

</html>
