<html>
<head>
	<link rel="stylesheet" href="../static/css/button-all.css">
  <link rel="stylesheet" href="../static/css/input-style.css">
  <meta charset="UTF-8">
	<br><br><br><br><br><br>
	<center><h1>Interactive ML-Platform </h1></center>
  <br><br><br><br><br><br>

 <div class="page-header">
    <title>InteractiveML</title>
  </div>
</head>
<br>
 <div id="project_name_display">
	<center><h3>Project Name: {{ proj_name }}</h3></center>
 </div>

<body>
  <div id="upload_dataset">
  <center>  Upload a Dataset <br><br><br><br><br><br>
  <form class="w3-input" name="form1" method="POST" action="http://localhost:5000/preprocess" enctype="multipart/form-data">
  <input type="file" name="dataset" class="required"/><br><br><br>
  <input type="submit" value="Submit" />
  </form>
  </center>
  </div>
  </body>

  </html>
