<html>
<head>
	<link rel="stylesheet" href="../static/css/button-all.css">
  <link rel="stylesheet" href="../static/css/input-style.css">
  <meta charset="UTF-8">
	<br><br><br><br><br><br>
	<center><h1>Interactive ML-Platform </h1></center>
  <br><br><br><br><br><br>


  <div class="page-header">
    <title>InteractiveML</title>
  </div>
</head>

<body>
  <div id="upload_dataset">
  <center>  Upload a Dataset <br><br><br><br><br><br>
  <form class="w3-input" name="form1" id="upload_dataset" method="post" enctype="multipart/form-data">
  <input type="file" name="dataset" class="required"/><br><br><br>
  <button class="button" type="submit" value="Submit">Submit</button>
  </center>
  </form>
  </div>
  </body>

  </html>
