<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title> INTERACTIVE ML-PLATFORM </title>
    <br><br><br><br><br><br>
    <center><h1>INTERACTIVE ML-PLATFORM</h1></center>
    <link rel="stylesheet" href="../static/css/button.css">
  </head>

  <body>
    <br><br><br><br><br><br>
    <center>
      <div class="" id="Next">
      <!-- <form class="button" action="dashboard.html" method="post">
        <button type="submit" name="next">YOLO</button>
      </form>
      -->
      <a href="dashboard.html" class="button">Button</a>
      </div>
    </center>
  </body>
</html>
